@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

#site-title {
	font-size: 45px;
	text-align: center;
	padding-top:25px
}
body{
	background-image:linear-gradient(to top, #F01B1B, #8B2121);
	position: relative;
	color:#fff /*rgb(12, 39, 12)*/;
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	margin: 0;
	height: 100%;
}

#wrapper, #computed, #form, #sectionFight{
	width:768px;
}

#wrapper {
	margin: 30px auto 30px auto;
	position;relative;
}

h2{
	font-size: 15px;
}

.picture-inactive, .loser-picture, .page{
	display:none;
}


.page-active{
	display: block;
}

li {
	list-style: none;
}

#computed,#sectionFight,#sectionModal, .presPlayer {
	display: flex;
	justify-content: center;
	width: auto;
}
#player1, #player2 {
	width: 384px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.separator{
	background-color: white;
	height:2px;
	width:75%;
	margin-bottom: 30px;
}

#form {
	position:absolute;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.input{
	border: none;
	border-bottom: 2px solid #fff;
	background: none;
}

#button, #retry,#FIGHT{
	background: none;
	border-radius: 2px;
	margin-top:20px;
	padding: 5px 30px;

}
#button, #FIGHT {
	border: 2px solid #fff;
	color:white;
}


#button:hover, #FIGHT:hover {
	background-color: white;
	color: 8B2121;
}


.character-picture-p2 {
	height:100px;
	margin-right: 10px;
}

#endscreen{
	position:absolute;
	margin:none;
}

#popup{
	position: absolute;
	width: auto;
	height: auto;
	background-color: black;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: shade 2s forwards;
	display: none;
}
@keyframes shade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.7;
	}
}

#modal, #sectionModal{
	width:400px;
	height: 400px;
}
#modal{
	background-color: white;
	color: red;
	border-radius: 2px;
	padding: 20px;
	animation: showUp 2s forwards;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
	display: none
}
#sectionModal{
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

@keyframes showUp {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.winner-picture, .pokemon-picture, .character-picture-p1{
	height: 200px;
}
.text {
	display:flex;
}

#retry {
	border: 2px solid red;
	color:red;
}
#retry:hover {
	background-color: red;
	color: white;
}

@media (max-width: 768px) {
	#computed, #form, #wrapper {
		width: auto;
	}
	#player1, #player2 {
		margin: auto;
	}
	#form {
		position: initial;
	}
	
}

#nameWinner, #nameLoser, #youlose {
	margin-right: 20px;
}